body{

background:lightblue;
}


h1{
	
	text-align:center;
}


p{
	
	border:1px solid purple;
	border-radius:20px;
	box-shadow:7px 7px #444;
	margin: 50px;
	margin-bottom:30px;
	background:lightyellow;
	padding:20px;
}